@import "../../variables.scss";
@import "../../fonts.scss";
@import "../../mixins.scss";



.article {
  padding: 32px 16px 40px 16px;

  @include tablet() {
    padding: 48px 24px 64px 24px;
  }

  @include desktop() {
    padding: 48px 0 64px 0;
  }


  &__heading {
    border-bottom: 1px solid $themecolor4;

    @include tablet() {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px 0;
    }
  }

  &__header {
    font-family: "Avenir Next Bold";
  }

  &__auth-date {
    margin: 16px 0 32px 0;

    @include tablet() {
      margin: 0;
    }
  }

  &__author {
    font-family: "Avenir Next Demi";
    margin: 0;
  }

  &__date {
    margin-left: 8px;
    color: $themecolor2;
  }

  &__views-likes {
    margin: 0 0 24px 0;

    @include tablet() {
      margin: 0;
    }

    @include desktop() {
      margin-right: 32px; 
    }
  }

  &__likes {
    margin-left: 24px;
  }

  &__icons {
    margin-right: 8px;
    
  }

  &__auth-date, &__views-likes {
    display: flex;
    align-items: center;
  }
  
  &__body {
    margin: 24px 0 0 0;

    @include tablet() {
      margin: 40px 0 0 0;
      width: 70%;
    }

    @include desktop() {
      width: 75%; 
    }
  }
}