@import "../../variables.scss";
@import "../../fonts.scss";

.header {
  padding: 16px;


  &__button-img {
    margin-right: 16px;
  }

  &__logo-wrap {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__search-wrap {
    position: relative;
  }

  &__search-bar {
    width: 100%;
    padding: 16px 16px 16px 40px;
    border: 2px solid $themecolor4;
    border-radius: 4px;
  }

  &__search-bar:focus {
    border: 2px solid $themecolor5;
    outline: transparent;
  }

  &__search {
    position: absolute;
    top: 16px;
    left: 16px;
  }

  &__upload {
    margin-top: 8px;
    display: flex;
    align-items: center;
  }

  

  &__upload-pic {
    margin-left: 16px;
  }
}